html {
	height: 100%;
}

body {
	min-height: 500px;
	margin: 0;
	padding: 0;
}

.renderBody{
	padding-top: 50px;
	min-height: 100vh;
}

.div-header {
	background-color: #fff;
	color: #FECE0C;
}

.company-name {
	font-family: Bradley Hand, cursive;
	font-size: 6rem;
}

.search-btn {
	background-color: #FECE0C;
	border: 2px solid #FECE0C;
	color: #0B215E;
}

.search-btn:hover {
	background-color: #0B215E;
	color: #FECE0C;
	border: 2px solid #0B215E;
}

.nav-link:hover {
	color: #FECE0C;
}

a.action-link {
	margin: 5px;
	text-decoration: none;
	color: white;
}

.action-link:hover {
	color: #FECE0C;
}

.carouselImage {
	max-width: 100%;
	height: auto;
}

.admin {
	height: 75px;
	width: auto;
	margin: 5px;
	padding: 10px;
	
}

