@model OrderCheckoutViewModel

@{
	ViewData["Title"] = "Order Complete";
}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<div class="m-3 border border-info text-center" style="border-radius: 5px;">
				<header class="bg-info text-white">
					<h2>Your order is completed</h2>
				</header>
				<h3>Thank you for ordering!</h3>
				<p>We will ship your oder as soon as possible</p>
			</div>
		</div>
		<div class="col-md-3"></div>
	</div>
</div>
