<div class="bg-info p-3">
	<h2>@ViewBag.Title</h2>
</div>
@if (TempData["message"] != null)
{
	<div class="alert alert-success">@TempData["message"]</div>
}
<div class="admin border border-primary row justify-content-center">
	<a asp-action="AdminDisplay" asp-controller="Product" class="btn btn-primary">Products</a>
</div>
<div class="admin border border-primary row justify-content-center">
	<a asp-action="Display" asp-controller="Category" class="btn btn-primary">Categories</a>
</div>
