@{ 
	ViewData["Title"] = "About";
}

<div class="container-fluid row my-3 mx-2 border border-info">
	<div class="col-md-3">
		<img src="~/images/logo.png" />
	</div>
	<div class="col-md-9">
		<p>
			Welcome to Grande Gift, your number one source for all things hampers, toys, clothing and more. 
			We're dedicated to giving you the very best of our products, with a focus on  quality, 
			customer service and affordable prices.
		</p>
		<p>
			Founded in 2018 by John Grande, Grande Gift is a fast expanding online retailer, with its origins starting in
			Sydney, Australia. When John Grande first started out, his passion for online shopping drove him to 
			start his own online business, and gave him the impetus to turn hard work and inspiration into to a 
			booming online store. We now serve customers all over Australia, and are thrilled to be a part of the 
			e-commerce  industry.
		</p>
		<p>
			We hope you enjoy our products as much as we enjoy offering them to you. If you have any questions or 
			comments, please don't hesitate to contact us.
		</p>
		<p>
			Sincerely,
			John Grande
		</p>
	</div>
</div>
