@{
	ViewData["Title"] = "Contact Us";
}

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h2>Contact Us:</h2>
			<p>You can contact us at:</p>
			<p>Email: customerhelp@grandegift.com.au</p>
			<p>Customer Service: (02) 9224 6478</p>
		</div>
	</div>
</div>
